.ProseMirror {
  background-color: var(--alt-bg-color);
  padding: 8px;
  border-radius: 8px;
  font-size: 1.2rem;
}

.editor-suggestion {
  border-bottom: 1px solid blue;
}
.suggestion-container {
  position: absolute;
  width: 24rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid rgba(110, 226, 199, 0.428);
}

.suggestion-option {
  width: 95%;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.suggestion-container .suggestion-option {
  border-bottom: 1px solid rgba(110, 226, 199, 0.428);
}
.suggestion-container .suggestion-option:last-child {
  border-bottom: 1px solid white;
}
.active-option {
  background-color: rgba(110, 226, 199, 0.428);
}

.wikilink {
  color: rgb(5, 41, 143);
  background: none;
  padding: 0;
  margin: 0 1px;
  border: none;
  cursor: pointer;
  position: relative;
  font-size: inherit;
  font-weight: inherit;
  --wikilink-padding: 5px;
  display: inline-block;
  text-decoration: underline;
}

.wikilink::before {
  content: "";
  display: inline-block;
  position: absolute;
  background-color: rgba(145, 233, 255, 0.322);
  width: calc(100% + var(--wikilink-padding));
  left: 1ch;
  top: 0.5ch;
  height: 2ch;
  left: calc(-0.5 * var(--wikilink-padding));
  top: 0;
  height: 100%;
  border-radius: 5px;
}
